# Node.js dependencies
node_modules/

# Environment variables
.env
.env.local

# Logs
*.log
logs/

# OS-specific files
.DS_Store
Thumbs.db

# Build output
/dist
/build

#ignore public files
public/images/

# Dummy data and scripts (only needed for development)
server/collegeData.js
server/userData.js
server/reviewData.js
server/courseData.js
server/scripts/
