# Node.js dependencies
node_modules/

# Environment variables
.env
.env.local

# Logs
*.log
logs/

# OS-specific files
.DS_Store
Thumbs.db

# Build output
/dist

#remove dummy data
server/collegeData.js
server/userData.js
server/scripts/
server/reviewData.js